<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.student.StudentRepository">

  <resultMap id="studentResultMap" type="com.example.demo.student.StudentEntity">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="dob" column="dob"/>
    <result property="email" column="email"/>
  </resultMap>

  <select id="getAllStudents" resultMap="studentResultMap">
    SELECT *
    FROM students
  </select>

  <select id="findById" resultMap="studentResultMap" parameterType="java.lang.Long">
    SELECT *
    FROM students
    WHERE id = #{id}
  </select>

  <select id="findStudentByEmail" resultMap="studentResultMap" parameterType="java.lang.String">
    SELECT *
    FROM students
    WHERE email = #{email}
  </select>

  <insert id="insertStudent" parameterType="com.example.demo.student.StudentEntity"
    useGeneratedKeys="true" keyProperty="id">
    INSERT INTO students
    (
    name,
    dob,
    email
    )
    VALUES
    (
    #{name},
    #{dob},
    #{email}
    )
  </insert>

  <update id="updateStudent" parameterType="com.example.demo.student.StudentEntity">
    UPDATE students
    SET
    name = #{name},
    dob = #{dob},
    email = #{email}
    WHERE id = #{id}
  </update>

  <delete id="deleteStudentById" parameterType="java.lang.Long">
    DELETE
    FROM students
    WHERE id = #{id}
  </delete>

  <select id="existsById" resultType="boolean" parameterType="java.lang.Long">
    SELECT EXISTS
    (SELECT 1 FROM students
    WHERE id = #{id})
  </select>

</mapper>